<div class="container">
<div class="row">
<div class="col-md-2">
    <div class="list-group">
        <a href="user_list.html" class="list-group-item active">用户管理</a>
        <a href="" role="button"  class="list-group-item" data-toggle="modal" data-target="#myModal">添加用户</a>
    </div>
</div>
<div class="col-md-10">
    <div class="page-header">
        <h1>用户管理</h1>
    </div>
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="user_list.html">用户列表</a>
        </li>
        <li>
            <a href="" role="button" data-toggle="modal" data-target="#myModal">添加用户</a>
        </li>
    </ul>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>用户名</th>
            <th>邮箱</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users">
            <th scope="row">{{user._id}}</th>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>
                <div role="presentation" class="dropdown">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        操作<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a ng-click="resetPas(user._id)">重置密码</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <!--<nav class="pull-right">
        <ul class="pagination">
            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            <li><a href="#">1 </a></li>
            <li><a href="#">2 </a></li>
            <li><a href="#">3 </a></li>
            <li><a href="#">4 </a></li>
            <li><a href="#">5 </a></li>
            <li><a href="#">6 </a></li>
            <li><a href="#"><span aria-hidden="true">&raquo;</span></a></li>
        </ul>
    </nav>-->
</div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">添加用户</h4>
            </div>
            <div class="modal-body">
                <form action="#"  ng-submit="submitForm()">
                    <div class="form-group">
                        <label for="addname">用户名</label>
                        <input required ng-model="data.name" type="text" id="addname" class="form-control" placeholder="用户名">
                    </div>
                    <div class="form-group">
                        <label for="addpassword">用户密码</label>
                        <input required ng-model="data.password" type="password" id="addpassword" class="form-control" placeholder="请输入用户密码">
                    </div>
                    <div class="form-group">
                        <label for="addpassword1">确认用户密码</label>
                        <input required ng-model="password_rep" type="password" id="addpassword1" class="form-control" placeholder="请确认输入用户密码">
                    </div>
                    <div class="form-group">
                        <label for="addemail">请输入用户邮箱</label>
                        <input required ng-model="data.email" type="email" id="addemail" class="form-control" placeholder="请输入用户邮箱">
                    </div>
                    <div class="form-group text-right">
                        <button type="reset" ng-click="resetForm()" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">提交</button>
                    </div>
                </form>
            </div>
            <!--<div class="modal-footer">
                <button type="button" ng-click="resetForm()" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button ng-click="submitForm()" type="button" class="btn btn-primary" >提交</button>
            </div>-->
        </div>
    </div>
</div>